* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  position: relative;
}

html {
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.container {
  width: 1152px;
  margin: 0 auto;
}
@media (max-width: 1192px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #222222;
}

.main {
  height: 100vh;
  background-image: url("../images/image-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  color: #ffffff;
  padding-top: 180px;
}
@media (max-width: 1040px) {
  .main {
    margin-bottom: 50px;
  }
}
@media (max-width: 915px) {
  .main {
    padding-top: 59px;
    background: #ECF4FF;
    padding-bottom: 60px;
    height: inherit;
  }
}
.main h1 {
  font-size: 56px;
  line-height: 73px;
}
@media (max-width: 915px) {
  .main h1 {
    color: #222222;
    font-size: 40px;
    line-height: 57px;
  }
}
@media (max-width: 504px) {
  .main h1 {
    font-size: 25px;
    line-height: 33px;
  }
}
.main p {
  font-size: 16px;
  line-height: 155%;
  width: 867px;
  margin: 24px auto 45px;
}
@media (max-width: 915px) {
  .main p {
    width: auto;
    color: #222222;
    margin-bottom: 46px;
  }
}

.start__course {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  padding: 11px 30px;
  background-color: #086CF9;
  border-radius: 4px;
}
@media (max-width: 915px) {
  .start__course {
    padding: 16px 30px;
  }
}

.info {
  margin-top: -50px;
}
@media (max-width: 915px) {
  .info {
    margin: 0;
  }
}
.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 56px 88px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 11px 35px rgba(0, 0, 0, 0.08);
          box-shadow: 0 11px 35px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
@media (max-width: 915px) {
  .info__inner {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 60px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
  }
}
@media (max-width: 600px) {
  .info__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.info__item span {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #222222;
}
.info__item p {
  margin-top: 8px;
  font-size: 16px;
  line-height: 155%;
  color: #086CF9;
  white-space: nowrap;
}

.course__inner {
  margin: 140px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 915px) {
  .course__inner {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.course__info {
  width: 519px;
}
@media (max-width: 915px) {
  .course__info {
    margin: 0 auto;
    width: auto;
  }
}
.course__info h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #222222;
  width: 519px;
}
@media (max-width: 1223px) {
  .course__info h2 {
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    width: auto;
  }
}
@media (max-width: 800px) {
  .course__info h2 {
    font-size: 22px;
    line-height: 29px;
    width: auto;
  }
}
.course__info p {
  width: 478px;
  margin: 24px 0 16px;
  font-size: 16px;
  line-height: 155%;
  color: #555555;
}
@media (max-width: 915px) {
  .course__info p {
    width: auto;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
}
.course__info span {
  display: block;
  width: 489px;
  font-size: 20px;
  line-height: 28px;
  color: #333333;
  margin-bottom: 50px;
}
@media (max-width: 915px) {
  .course__info span {
    text-align: center;
    width: auto;
    font-size: 16px;
    line-height: 28px;
  }
}
.course__info a {
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 915px) {
  .course__info a {
    display: block;
    width: 149px;
    margin: 32px auto 0;
  }
}

.course__image__mobile {
  width: 100%;
  display: none;
}
@media (max-width: 915px) {
  .course__image__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 30px;
    width: 360px;
    height: 244px;
    background-image: url("../images/image-course_mob.jpg");
  }
}
@media (max-width: 915px) and (max-width: 383px) {
  .course__image__mobile {
    margin-left: -10px;
  }
}
@media (max-width: 915px) and (max-width: 365px) {
  .course__image__mobile {
    margin-left: -20px;
  }
}

.play__button__mobile {
  display: none;
}
@media (max-width: 915px) {
  .play__button__mobile {
    display: block;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 50%;
  }
}

.course__image {
  background-image: url("../images/image-courseImage.jpg");
  width: 100%;
  height: 433px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 38px;
  background-repeat: no-repeat;
}
@media (max-width: 915px) {
  .course__image {
    display: none;
    width: 1px;
    height: 1px;
  }
}

.work {
  margin-top: 128px;
}
@media (max-width: 915px) {
  .work {
    margin-top: 60px;
    margin-bottom: 34px;
  }
}
.work__header {
  width: 423px;
  margin: 0 auto 48px;
}
@media (max-width: 915px) {
  .work__header {
    width: auto;
    margin-bottom: 12px;
  }
}
.work__header h2 {
  margin: 0 0 12px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #222222;
}
@media (max-width: 1223px) {
  .work__header h2 {
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    width: auto;
  }
}
@media (max-width: 699px) {
  .work__header h2 {
    font-size: 22px;
    line-height: 29px;
    width: auto;
  }
}
.work__header p {
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  color: #555555;
}
@media (max-width: 915px) {
  .work__header p {
    font-size: 14px;
    line-height: 22px;
  }
}
.work_block_header {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px 0 16px;
}
@media (max-width: 915px) {
  .work_block_header {
    font-size: 16px;
    line-height: 21px;
  }
}
.work_block_paragraph {
  line-height: 155%;
  text-align: center;
  color: #555555;
}
@media (max-width: 915px) {
  .work_block_paragraph {
    font-size: 12px;
    line-height: 19px;
  }
}
.work_block_img {
  display: block;
  margin: 0 auto;
}
.work__info_block {
  width: 248px;
}
@media (max-width: 915px) {
  .work__info_block {
    margin: 0 auto;
    padding: 15px 18px;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  }
}
.work__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1016px) {
  .work__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}
@media (max-width: 635px) {
  .work__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 23px 35px;
  }
}

.online {
  margin-top: 128px;
  background-color: #ECF4FF;
}
@media (max-width: 915px) {
  .online {
    margin-top: 0;
    background-color: #fff;
  }
}
.online__inner {
  padding-top: 60px;
  padding-bottom: 75px;
}
@media (max-width: 915px) {
  .online__inner {
    padding-top: 0;
  }
}
.online__inner > h2 {
  margin: 0 auto 12px;
  width: 674px;
  text-align: center;
}
@media (max-width: 1223px) {
  .online__inner > h2 {
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    width: auto;
  }
}
@media (max-width: 699px) {
  .online__inner > h2 {
    font-size: 22px;
    line-height: 29px;
    width: auto;
  }
}
.online__inner > p {
  font-size: 16px;
  line-height: 155%;
  margin: 0 auto 48px;
  width: 674px;
  text-align: center;
}
@media (max-width: 915px) {
  .online__inner > p {
    line-height: 25px;
    width: auto;
    margin-bottom: 40px;
  }
}
.online__block_info {
  width: 368px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 6px;
}
@media (max-width: 915px) {
  .online__block_info {
    border-radius: 6px;
    border: 2px solid #E9E8E8;
    margin: 0 auto;
    width: 320px;
    padding: 15px;
  }
}
.online__block_info > img {
  padding-bottom: 24px;
}
@media (max-width: 915px) {
  .online__block_info > img {
    width: 290px;
    height: 208px;
  }
}
.online__info_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 82px;
      flex-basis: 82px;
}
.online__info_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.online__course__button {
  text-align: center;
}
.online__button {
  padding: 16px 32px;
  background-color: #086CF9;
  border-radius: 6px;
  color: #ffffff;
  text-decoration: none;
}
.online__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
  gap: 30px 24px;
}
.online__block__description {
  line-height: 155%;
  color: #555555;
}

.block__info__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 24px;
}
.block__info__info span {
  font-size: 16px;
  line-height: 155%;
  color: #555555;
  margin: auto;
}

.block__info_divide__line {
  height: 1px;
  width: 320px;
  border-bottom: 1px solid #E9E8E8;
  margin-bottom: 20px;
}
@media (max-width: 915px) {
  .block__info_divide__line {
    width: 290px;
  }
}

.block__infoprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 18px;
}
.block__infoprice h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #333333;
}
@media (max-width: 915px) {
  .block__infoprice h3 {
    font-size: 14px;
    line-height: 18px;
  }
}
.block__infoprice span {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #086CF9;
}
@media (max-width: 915px) {
  .block__infoprice span {
    font-size: 14px;
    line-height: 22px;
  }
}

.events {
  margin-bottom: 128px;
  margin-top: 128px;
}
@media (max-width: 915px) {
  .events {
    margin-bottom: 60px;
    margin-top: 0;
  }
}
.events__inner > h2 {
  text-align: center;
  width: 421px;
  margin: 0 auto 12px;
}
@media (max-width: 1223px) {
  .events__inner > h2 {
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    width: auto;
  }
}
@media (max-width: 700px) {
  .events__inner > h2 {
    font-size: 22px;
    line-height: 29px;
    width: auto;
  }
}
.events__inner > p {
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  color: #444444;
  width: 421px;
  margin: 0 auto 48px;
}
@media (max-width: 915px) {
  .events__inner > p {
    line-height: 25px;
    width: auto;
    margin-bottom: 40px;
  }
}
.events__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1223px) {
  .events__blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
@media (max-width: 799px) {
  .events__blocks {
    margin-left: -20px;
    margin-right: -20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.events__text__block {
  margin: 24px 24px 32px;
}
@media (max-width: 799px) {
  .events__text__block {
    margin: 0 20px;
    padding: 24px 15px 17px;
    border-left: 2px solid #E9E8E8;
    border-bottom: 2px solid #E9E8E8;
    border-right: 2px solid #E9E8E8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
.events__divider {
  width: 28px;
}

.event__block__info {
  -webkit-box-shadow: 0 12px 45px rgba(0, 0, 0, 0.08);
          box-shadow: 0 12px 45px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  width: 368px;
}
@media (max-width: 799px) {
  .event__block__info {
    width: 360px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.event__header {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #222222;
  margin-bottom: 20px;
  width: 267px;
  height: 52px;
}
@media (max-width: 799px) {
  .event__header {
    font-size: 16px;
    line-height: 21px;
  }
}

.event__time__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.event__time__place span {
  line-height: 155%;
  color: #555555;
}
@media (max-width: 799px) {
  .event__time__place span {
    font-size: 12px;
    line-height: 19px;
  }
}

.event__img {
  margin-right: 8px;
}

.event__image__main {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
}
@media (max-width: 799px) {
  .event__image__main {
    border-radius: 0;
  }
}

.event__date {
  width: 65px;
  height: 62px;
  background-color: #086CF9;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 12px;
  border-top-left-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 799px) {
  .event__date {
    border-radius: 0;
    left: 20px;
    top: 0;
  }
}

.event__main__img {
  position: relative;
  border-radius: 6px;
}
@media (max-width: 799px) {
  .event__main__img {
    height: 240px;
  }
}

.menu {
  position: absolute;
  top: 43px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 915px) {
  .menu {
    width: auto;
    position: static;
    -webkit-transform: none;
            transform: none;
  }
}

.menu__icon {
  display: none;
}
@media (max-width: 915px) {
  .menu__icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 16px;
  }
}

@media (max-width: 915px) {
  .menu__inner {
    height: 47px;
  }
}

.menu__wide {
  top: 0;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1233px) {
  .menu__wide {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: auto;
    margin-right: 0;
  }
}
@media (max-width: 1192px) {
  .menu__wide {
    width: auto;
  }
}
@media (max-width: 915px) {
  .menu__wide {
    height: 47px;
    position: static;
    display: block;
  }
}
.menu__wide span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 915px) {
  .menu__wide span {
    color: #222222;
    display: block;
  }
}
.menu__wide > a {
  text-decoration: none;
}
@media (max-width: 915px) {
  .menu__wide > a {
    height: 47px;
    display: block;
  }
}

.header__menu {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
  margin: 43px 0;
}
@media (max-width: 915px) {
  .header__menu {
    padding: 8px 0;
    margin: 0;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  gap: 0 40px;
}
@media (max-width: 1233px) {
  .header__list {
    margin: 24px 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0 40px;
  }
}
@media (max-width: 915px) {
  .header__list {
    display: none;
  }
}

.header__info {
  font-size: 16px;
  line-height: 155%;
  color: #ffffff;
  text-decoration: none;
  margin-right: 2px;
}
@media (max-width: 1233px) {
  .header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0 8px;
  }
}

.header__buttons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 48px 0;
  width: 180px;
}
@media (max-width: 915px) {
  .header__buttons {
    display: none;
  }
}
.header__buttons a {
  font-size: 16px;
  line-height: 155%;
  color: #FFFFFF;
  text-decoration: none;
}

.signin {
  margin-right: 30px;
}
@media (max-width: 1233px) {
  .signin {
    margin-right: 15px;
  }
}

.signup {
  padding: 12px 24px;
  background-color: #086CF9;
  border-radius: 4px;
}

.footer {
  padding: 60px 0 80px;
  background-color: #D3E5FE;
}
@media (max-width: 1223px) {
  .footer {
    padding: 60px 0;
  }
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1223px) {
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 799px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__header {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #222222;
  margin-bottom: 24px;
}
.footer__education {
  width: 360px;
}
@media (max-width: 1223px) {
  .footer__education {
    width: 320px;
  }
}
.footer__education p {
  margin-bottom: 32px;
}
.footer__education h4 {
  margin-bottom: 24px;
}
.footer__column {
  margin-right: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
@media (max-width: 1223px) {
  .footer__column {
    margin-right: 10px;
    margin-bottom: 50px;
  }
}
.footer__paragraph {
  font-size: 16px;
  line-height: 155%;
  color: #555555;
  text-decoration: none;
  vertical-align: middle;
}
.footer__paragraph img {
  margin-right: 8px;
}
.footer__text {
  margin: auto 0;
}
.footer__column__last p {
  margin-bottom: 16px;
}

.follow__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.follow__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px;
  background-color: #fff;
  border-radius: 3px;
}

.links__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.links__list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}